body{
    padding: 0%;
    margin: 0%;
    background: rgb(190,34,212);
background: linear-gradient(90deg, rgba(190,34,212,1) 0%, rgba(122,56,185,1) 31%, rgba(106,0,46,1) 100%);
}
.centre{
    height: 500px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    height: 100px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    color: beige;
}
button{
    background: rgb(190,34,212);
    background: linear-gradient(90deg, rgba(190,34,212,1) 0%, rgba(202,168,235,1) 30%, rgba(237,126,174,1) 100%);
    color: black;
    padding: 10px;
    border: 2px transparent white;
    
}
.button span {
    margin-right: 40px; 
}

.button span:last-child {
    margin-right: 0;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    position: relative; /* Needed for position changes */
}
h2{
    text-align: center;
    color: aliceblue;
}

